<%= render 'cover' %>

<%= render 'subnav' %>

      <!-- Timeline -->
      <section id="timeline">

        <div class="left col-xs-12 col-sm-5">

          <!-- About -->
          <article>
            <h2>About</h2>

            <form class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-5 control-label">Birthday</label>
              <div class="col-xs-7">
                <p class="form-control-static">July 31, 1980</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-5 control-label">College</label>
              <div class="col-xs-7">
                <p class="form-control-static">Hogwarts College</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-5 control-label">Hometown</label>
                <div class="col-xs-7">
                  <p class="form-control-static">Godrick's Hollow, England</p>
                </div>
              </div>
            </form>
          </article>

          <!-- Photos -->

          <article class="photos">
            <h2>Photos (1310)</h2>

            <% 9.times do %>
              <%= image_tag "icon_photo_small.jpg", class: "photo" %>

            <% end %>


            <div class="row"><a href="photos.html">See more photos</a></div>
          </article>

            <!-- Friends -->

          <article class="friends">
            <h2>Friends (310)</h2>
            <% 9.times do %>
              <div class="friend-div">
                <%= image_tag "user_silhouette_generic.jpg", class: "friend" %>
                <p>First Last</p>
              </div>
            <% end %>


             <div class="row">
                <div class="col-xs-12">
                  <a href="friends.html">See more friends</a>
                </div>
              </div>
          </article>
        </div> <!-- end left -->


        <!-- right -->
        <div id="right" class="col-xs-12  col-sm-7">
          <!-- create post -->
          <article>
            <h2>Post</h2>
            <textarea class="form-control" rows="4" placeholder="Tell the world something..."></textarea>
            <h2><a href="#"><button class="btn btn-primary">Post</button></a></h2>
          </article>

        <!-- posted post -->
          <article class="posted-post">
            <a href="timeline.html" class="my-thumbnail">
              <%= image_tag "harry_potter_small.jpg" %>
            </a>

            <a href="timeline.html"><p>Harry Potter</p></a>

            <p id="post-date">Posted on Thu, June 19, 2015</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
          <h2>
            <div class="row">
              <div class="col-xs-2 col-sm-1"><a href="#" class="col-xs-1" id="like"><p>Like</p></a></div>

              <div class="col-xs-2 col-sm-1"><a href="#" class="col-xs-2" id="like"><p>Comment</p></a></div>

              <div class="col-xs-offset-5 col-xs-1"><a href="#" class="col-xs-1" id="delete"><p>Delete</p></a></div>
            </div>
          </h2>
        </article>

        <!-- posted post with like -->
        <article class="posted-post row">
          <a href="timeline.html" class="my-thumbnail">
            <%= image_tag "harry_potter_small.jpg" %>
          </a>

          <a href="timeline.html"><p>Harry Potter</p></a>

          <p id="post-date">Posted on Thu, June 19, 2015</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          <h2>
            <div class="row">
              <div class="col-xs-2 col-sm-1"><a href="#" class="col-xs-1" id="like"><p>Unlike</p></a></div>

              <div class="col-xs-offset-7 col-xs-1"><a href="#" class="col-xs-1" id="delete"><p>Delete</p></a></div>
            </div>

            <div class="row">
              <p class="col-xs-12 liked-this no-center"><a href="#">Hermoine Granger</a> liked this</a></p>
            </div>
          </h2>
        </article>

        <!-- posted post you liked -->
        <article class="posted-post">
          <a href="timeline.html" class="my-thumbnail">
            <%= image_tag "harry_potter_small.jpg" %>
          </a>

          <a href="timeline.html"><p>Harry Potter</p></a>

          <p id="post-date">Posted on Thu, June 19, 2015</p>

          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          <h2>
            <div class="row">
              <div class="col-xs-2 col-sm-1"><a href="#" class="col-xs-1" id="like"><p>Like</p></a></div>

              <div class="col-xs-offset-7 col-xs-1"><a href="#" class="col-xs-1" id="delete"><p>Delete</p></a></div>

            </div>

            <div class="row">
              <p class="col-xs-12 liked-this no-center">You and <a href="#">Hermoine Granger</a> liked this</a></p>
            </div>
          </h2>
        </article>

          <!-- comment -->
        <article class="comment posted-post row">
          <a href="timeline.html" class="my-thumbnail">
            <%= image_tag "ron-weasley.jpg" %>
          </a>

          <a href="timeline.html"><p>Ron Weasley</p></a>

          <p id="post-date">Posted on Thu, June 18, 2015</p>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          <a href="#" class="action" id="like">Like</a><p class="likes-count">3 other people like this</p>

        </article>

        <!-- comment -->

        <article class="comment posted-post row">
          <a href="timeline.html" class="my-thumbnail">
            <%= image_tag "harry_potter_small.jpg" %>
          </a>

          <a href="timeline.html"><p>Harry Potter</p></a>

          <p id="post-date">Posted on Thu, June 19, 2015</p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>

          <div class="row">
            <div class="col-xs-8"><a href="#" class="action" id="like">Like</a><p class="likes-count">3 other people like this</p></div>

            <div class=" col-xs-1"><a href="#" class="col-xs-1" id="delete"><p>Delete</p></a></div>
          </div>
        </article>

        <article class="comment">

          <textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>

          <h2>
            <div class="row">

              <div class="col-xs-1 col-xs-offset-1"><a href="#" class="no-center" id="cancel"><p>Cancel</p></a></div>
              <div class="col-xs-1 col-xs-offset-7"><a href="#"><button class="btn btn-primary">Post</button></a></div>
            </div>
          </h2>

        </article>
      </div> <!-- end right -->

      </section> <!-- end timeline -->
    </div> <!-- end container fluid -->
      <!-- Footer -->

    <%= render 'footer' %>