<div class="all-users">
  <h1 class="text-center">Users</h1>
<% @users.each_with_index do |user, i| %>
  <article class="col-xs-offset-1 col-xs-10

    <% if i.even? %>
      col-lg-offset-1
    <% else %>
      col-lg-offset-0
    <% end %>
      col-lg-5 friend">

    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "user_silhouette_generic.jpg" %>
      </div>

      <div class="friend-info col-xs-5">
        
        <%= link_to user.full_name, user_posts_path(user_id: user.id), id: "friend_name" %>
        <br>
        <% friend_count = Friending.where(friender_id: user.id).count %>
        <p id="friend-num"><%= link_to friend_count, user_friendings_path(user_id: user.id), id: "friend-num" %> Friends</p>
      </div>

      <div class="col-xs-3">
        
        <% if Friending.where(friender_id: current_user.id, friended_id: user.id).first %>
            <%= link_to '<button class="btn btn-danger" id="unfriend">Unfriend</button>'.html_safe, friending_path(user.id), method: :delete %>
          <% else %>
            <%= link_to '<button class="btn btn-success" id="unfriend">Friend</button>'.html_safe, user_friendings_path(user.id), method: :post  %>
          <% end %>

        
      </div>
    </div>
  </article>

<% end %>
</div>

 