 <div class="row">
  <div class="cover-photo-div col-xs-10 col-xs-offset-1">
    <%= image_tag "hogwarts_small.jpg", class: "cover-photo" %>

    <%= image_tag "harry_potter_small.jpg", class: "profile-pic" %>

    <h1 id="cover-name"><%= User.find(current_page_user_id).full_name %></h1>
  <% if params[:user_id].to_i == current_user.id %>
    <%= link_to  '<p class="edit-profile pull-right">Edit Profile <span class="glyphicon glyphicon-edit"></span></p>'.html_safe, edit_user_path(current_user) %>
  <% else %>
   <%= link_to  '<p class="edit-profile pull-right">Add Friend<span class="glyphicon glyphicon-edit"></span></p>'.html_safe, user_friendings_path(current_page_user_id), method: :post %>
  <% end %>
  </div>
</div>