<%= render 'shared/cover' %>

<%= render 'shared/subnav' %>
	
	<div class="form-group text-center">
    
    <%= form_for [:user, @photo] do |photo_field| %>
      <%= photo_field.label :file %>
      <%= photo_field.file_field :file, class: "form-control align-center" %>
      
      <%= photo_field.submit "Upload", class: "btn btn-success",
                            id: "add-photo" %>

    <% end %>
 </div>