<% post.comments.each do |comment| %>
  <article class="comment posted-post row">
    <a class="my-thumbnail">
      <% if post.author.profile.profile_photo %>
        <%= image_tag post.author.profile.profile_photo.file.url, class: "friend" %>
      <% else %>
        <%= image_tag "default_profile_photo.jpg", class: "friend" %>

      <% end %>
   </a>

    <%= link_to comment.author.full_name, user_posts_path(current_user.id), id: "post-name" %>

    <p id="post-date"><%= post.created_at.strftime("%A %B %d, %Y") %></p>


    <p><%= comment.body %></p>
    <h2 class="comment-h2">
     <div class="row">
      <div class="pull-left" id="comment-like-div">

      <% unless comment.likes.any? { |like| like.liker == current_user } %>
        <%= link_to "<p>Like</p>".html_safe, comment_likes_path(comment.id), method: :post, class: "likes-count" %>

        <% else %>
          <%= link_to "<p>Unlike</p>".html_safe, like_path(comment.id), method: :delete, class: "likes-count" %>
      <% end %>
        <p class="liked-this"><%= other_likes(comment) %></p>

      </div>
    <% if comment.author == current_user %>
      <%= link_to "Delete", comment_path(comment.id), method: :delete, class: "col-xs-2 likes-count pull-right", id:"delete-comment" %>
    <% end %>
    
    </h2>
  </article>
<% end %>