<% post.comments.each do |comment| %>
  <article class="comment posted-post row">
    <a class="my-thumbnail"><%= image_tag "harry_potter_small.jpg" %></a>

    <%= link_to comment.author.full_name, user_posts_path(current_user.id), id: "post-name" %>

    <p id="post-date"><%= post.created_at.strftime("%A %B %d, %Y") %></p>


    <p><%= comment.body %></p>

    <div class="row">
    <% if comment.author == current_user %>
      <%= link_to "Delete", comment_path(comment.id), method: :delete, class: "col-xs-2 pull-right" %>
    <% end %>
    </div>
  </article>
<% end %>