  <article class="comment posted-post row" data-comment-id = "<%= comment.id %>">
    <a class="my-thumbnail">
      <% if post.author.profile.profile_photo %>
        <%= image_tag post.author.profile.profile_photo.file.url, class: "friend" %>
      <% else %>
        <%= image_tag "default_profile_photo.jpg", class: "friend" %>

      <% end %>
   </a>

    <%= link_to comment.author.full_name, user_posts_path(current_user.id), id: "post-name" %>

    <p id="post-date"><%= post.created_at.strftime("%A %B %d, %Y") %></p>


    <p><%= comment.body %></p>
    <h2 class="comment-h2">
     <div class="row">

      <%= render "posts/comment_like", comment: comment %>

    <% if comment.author == current_user %>
      <%= link_to "Delete", comment_path(comment.id), method: :delete, class: "col-xs-2 likes-count pull-right", id:"delete-comment", remote: true %>
    <% end %>

    </h2>
  </article>