<div data-post-id="<%= post.id %>">
  <div class="post-and-comments">
    <article class="posted-post">
        <a href="timeline.html" class="my-thumbnail">
          <% if post.author.profile.profile_photo %>
            <%= image_tag post.author.profile.profile_photo.file.url, class: "friend" %>
          <% else %>
            <%= image_tag "default_profile_photo.jpg", class: "friend" %>

          <% end %>
        </a>

        <%= link_to post.author.full_name, user_posts_path(current_user.id), id: "post-name" %>


        <p id="post-date"><%= post.created_at.strftime("%A %B %d, %Y") %></p>


         <p><%= post.body %></p>
      <h2>
        <div class="row">



        <%= render "post_like", post: post %>



        <% if post.author == current_user %>

          <div class="pull-right">
            <%= link_to '<p>Delete</p>'.html_safe, post_path(id: post.id), method: :delete, class: 'col-xs-1', id: "delete-post", remote: true %>
          </div>
        <% end %>
        </div>
      </h2>

     </article>
    <%= render 'posts/comments', post: post %>
    </div>
    <%= render 'posts/new_comment_form', post: post, empty_comment: @empty_comment %>
</div>