<% @user.posts.all.reverse.each do |post| %>
 <article class="posted-post">
    <a href="timeline.html" class="my-thumbnail">
      <%= image_tag "harry_potter_small.jpg" %>
    </a>

    <%= link_to post.author.full_name, user_posts_path(current_user.id), id: "post-name" %>


    <p id="post-date"><%= post.created_at.strftime("%A %B %d, %Y") %></p>


     <p><%= post.body %></p>
  <h2>
    <div class="row">
      <div class="pull-left">
      <% unless post.likes.any? { |like| like.liker == current_user } %>
        <%= link_to "<p>Like</p>".html_safe, post_likes_path(post.id), method: :post %>
      <% end %>
        <p class="liked-this"><%= other_likes(post) %></p>

      </div>

    <% if post.author == current_user %>

      <div class="pull-right">
        <%= link_to '<p>Delete</p>'.html_safe, post_path(id: post.id), method: :delete, class: 'col-xs-1' %>
      </div>
    <% end %>
    </div>
  </h2>

 </article>
  <%= render 'comments', post: post %>

  <%= render 'new_comment_form', post: post %>
<% end %>

